/* diffrance section */
.diffrance-content-section { background-color: #fdfdfd; }
.diffrance-content-section .section-head-part { max-width: 100%; }
.diffrance-content-table table th { background-color: var(--primary-color); color: var(--common-white-color); }
.diffrance-content-table table th .title { color: var(--common-white-color); margin-bottom: 0; }
.diffrance-content-table table td, .diffrance-content-table table th { padding-left: 25px; padding-right:25px; width: 50%;}
.diffrance-content-table table td{background-color: var(--common-white-color);}
.diffrance-content-table { margin-bottom: 25px;  overflow: auto;}
.diffrance-content-table table { min-width: 600px; }

.icon-with-text { position: relative; padding-left: 37px; display: block;}
.icon-with-text:before { content: ""; position: absolute; left: 0; top: 0; background-image: url(../images/list-correct.svg); background-repeat: no-repeat; width: 22px; height: 22px; background-size: 22px; }

@media screen and (min-width:992px) {
    .diffrance-content-table table td, .diffrance-content-table table th { padding-left: 40px; padding-right: 40px; }
}
@media screen and (max-width:767px) {
    .diffrance-content-inner .content {
        text-align: center;
    }
}
/* end diffrance section */

/* why you choose us */

.why-you-choose-us-section { background-color: #F7F7F7;}
.why-you-choose-us-points { background-color: #fff; text-align: center; padding: 25px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); height: 100%; }
.why-you-choose-us-points .icon-main { margin-bottom: 12px; }
.why-you-choose-us-points .icon-main .icon { max-height:50px; }
.why-you-choose-us-points .title { margin-bottom: 5px; color: var(--text-color); }

@media screen and (min-width:768px) {
    .why-you-choose-us-points .icon-main .icon { max-height: 55px; }
}

@media screen and (min-width:1400px) {
    .why-you-choose-us-points .icon-main .icon { max-height: 70px; }
}

/* end why you choose us */


.icon-and-text-grid-back { text-align: center; padding: 25px; height: 100%; }
.icon-and-text-grid-back:hover{background:var(--common-white-color); box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);}
.icon-and-text-grid-back .icon-part { width: 70px; margin: 0 auto 12px auto; }
.icon-and-text-grid-back .title { margin-bottom: 5px; color: var(--text-color);}


/* big-empire-banner section css start */
.big-empire-banner-main{min-height: 240px; max-width: 995px; background: linear-gradient(336deg, #E94FCA 0%, #330C79 100%); border-radius: 15px; margin: 0 auto; display: flex; position: relative;}
.big-empire-banner-main:before {border-radius: 15px; content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: 100%; background-image: url(../images/big-empire-bg-line.png); background-repeat: no-repeat; background-position: center;  background-size: 100%;}
.big-empire-banner-main:after {border-radius: 15px; content: ""; position: absolute; left: 0; bottom: 0; width: 26%; height: 100%; background-image: url(../images/big-empire-bg-two.svg); background-repeat: no-repeat; background-position-y: bottom; background-size: 90%;}
.big-empire-banner-main .big-empire-banner-left{ width: 100%; padding-top: 35px; padding-left: 35px;padding-bottom: 32px; z-index: 1; display: flex; flex-direction: column; justify-content: center;}
.big-empire-banner-main .big-empire-banner-left .big-empire-banner-title{ width: 100%; color: var(--banner-top-content-color); margin-bottom: 10px;}
.big-empire-banner-main .big-empire-banner-left .big-empire-banner-sub-desc{ color: var(--banner-top-content-color);}
.big-empire-banner-main .big-empire-banner-left .button{min-width:185px; text-align: center; margin: 10px auto 0 auto;}
.big-empire-banner-main .big-empire-banner-right{ width: 100%; position: relative; z-index: 1;}
.big-empire-banner-main .big-empire-banner-right img{position: relative; max-width: 400px; width: 100%; margin-bottom: -5px;}

@media only screen and (min-width:768px) {    
    .big-empire-banner-main .big-empire-banner-right img{ max-width: 350px;position: absolute;bottom: 0;right: -30px; margin: 0; width: auto;}
    .big-empire-banner-main .big-empire-banner-left{ width: 65%;}
    .big-empire-banner-main .big-empire-banner-right{ width: 35%;}    
}
@media only screen and (min-width:992px) {
    .big-empire-banner-main .big-empire-banner-right img{ max-width: inherit;}
}
@media only screen and (max-width:767px) {
    .big-empire-banner-main{ flex-direction: column;}
    .big-empire-banner-main .big-empire-banner-left{ text-align: center; padding: 40px 25px 0px;}
    .big-empire-banner-main .big-empire-banner-right{ text-align: center;}
    .big-empire-banner-main:after{display: none;}
    .big-empire-banner-main:before{background-size: auto;}
}
/* big-empire-banner section css end */

/* contact banner secound design */

.contact-banner-secound-background {max-width: 1000px; margin-left: auto;  margin-right: auto; background: linear-gradient(274.23deg, #A51788 -5%, #20084D 76.76%); border-radius: 20px; padding: 25px 25px; position: relative; overflow: hidden; }
.contact-banner-secound-background:before { content: ""; position: absolute; right: 0; top: 0; width: 50%; height: 60%; background-image: url(../images/talk-exp-back-icon-1.svg); background-repeat: no-repeat; background-position-x: center; background-size: 100%; background-position-y: top; }
.contact-banner-secound-background:after { content: ""; position: absolute; left: 0; bottom: 0; width: 50%; height: 45%; background-image: url(../images/talk-exp-back-icon-2.svg); background-repeat: no-repeat; background-position-x: center; background-size: 100%; background-position-y: bottom; }
.contact-banner-secound-content { z-index: 1; position: relative; text-align: center; }
.contact-banner-secound-content > *:not(.button){color: var(--banner-top-content-color);}
.contact-banner-secound-section .line-background { position: absolute; left: 0px; top: 0px; width: 100%; }
.contact-banner-secound-content .button { margin-left: auto; margin-right: auto; }
.contact-banner-secound-content .title { margin-bottom: 15px; }

@media screen and (min-width:600px) {
    .contact-banner-secound-background{ padding: 33px 40px; }
}

@media screen and (min-width:768px) {
    .contact-banner-secound-background:before{width: 33.5%;}
    .contact-banner-secound-background:after{width: 28.5%;}
}

@media screen and (min-width:992px) {
    .contact-banner-secound-section .line-background{ width: 60%; }
}

/* end contact banner secound design */

/* contact banner thard design */

.contact-banner-thard-background { overflow: hidden; max-width: 950px; border-radius: 20px; background-image: url(../images/banner-background.png); background-repeat: no-repeat; background-position: center; background-size: cover; margin: 0 auto 0px auto; padding: 40px; text-align: center; color: var(--banner-top-content-color); position: relative; }
.contact-banner-thard-content .title { color: var(--banner-top-content-color); margin-bottom: 15px; }
.contact-banner-thard-content .button { margin-left: auto; margin-right: auto; }
.contact-banner-thard-background:before { content: ""; position: absolute; left: 0; top: 0; width: 60%; height: 100%; background-image: url(../images/contact-thard-banner-img.png); background-size: cover; background-repeat: no-repeat; background-position-x: right; background-position-y: center; }
.contact-banner-thard-content { z-index: 1; position: relative; }

@media screen and (max-width:767px) {
    .contact-banner-thard-background:before{display: none;}
}

/* end contact banner thard design */


/* workflow */

.workflow-single-back { background: var(--common-white-color); box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); padding: 25px; position: relative; height: 100%; }
.workflow-single-back:before { content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-image: url(../images/workflow-back-line.png); background-repeat: no-repeat; z-index: 1; }
.workflow-single-back:after { content: ""; position: absolute; bottom: 0; width: 100%; height: 0; background-color:var(--primary-color); transition: all 0.5s; left: 0; }
.workflow-single-back:hover:after{ height: 100%; }
.workflow-single-back > * { position: relative; z-index: 1;}
.workflow-step-wrap .image { width: 100px; height: 100px; background-color: #8A6EBC; display: flex; align-items: center; justify-content: center; margin-bottom: 20px; transition: all 0.5s; }
.workflow-single-back:hover .image { border-radius: 50%; background-color: rgba(233, 79, 202, 0.5); }
.workflow-step-wrap .image .icon { max-width: 60px; }
.workflow-count { font-family:var( --font-playball-regular); font-size: 50px; color: #ECECEC; position: absolute; top: 20px; right: 35px; }
.workflow-step-wrap .title { margin-bottom: 15px; transition: all 0.5s; }
.workflow-step-wrap .workflow-content li { margin-bottom: 10px; }
.workflow-step-wrap .workflow-content li:last-child { margin-bottom:0px; }
.workflow-content { margin-bottom: 0; transition: all 0.5s; }
.workflow-single-back:hover .title { color: var(--banner-top-content-color); }
.workflow-single-back:hover .workflow-content { color: var(--banner-top-content-color); }

/* workflow small */

.workflow-small .workflow-step-wrap { display: flex; flex-wrap: wrap; justify-content: center; margin-left: -12px; margin-right: -12px; }
.workflow-small .workflow-single { padding: 0 12px; width: 100%; }
.workflow-small .workflow-single-back { padding: 20px; }
.workflow-small .workflow-step-wrap .image { width: 80px; height: 80px; }
.workflow-small .workflow-step-wrap .image .icon { max-width: 51px; }
.workflow-small .workflow-count { font-size: 50px; right: 20px; top: 15px; }

@media screen and (min-width:576px) {
    .workflow-small .workflow-single {width: 50%;}
}

@media screen and (min-width:768px) {
    .workflow-small .workflow-single{ width: 33%; }
    .workflow-single-back{ padding: 25px; }
    .workflow-step-wrap .image .icon { max-width: 55px; }
    .workflow-count{ right: 25px; }
}

@media screen and (min-width:992px) {
    .workflow-step-wrap .image{ width: 110px; height: 110px; }
    .workflow-step-wrap .image .icon { max-width: 68px; }
    .workflow-count{ font-size: 60px; }
}

@media screen and (min-width:1200px) {
    .workflow-single-back{ padding: 35px; }
    .workflow-step-wrap .image{ width: 134px; height: 134px; }
    .workflow-step-wrap .image .icon { max-width: 85px; }
    .workflow-count{font-size: 70px;}
    .workflow-small .workflow-single{ width: 20%; }
}
/* end workflow */

/* case study */

.case-study{ background-image: url(../images/case-study-back.png); background-repeat: no-repeat; background-size: cover; margin-bottom: 0;}
.case-study-content .title { margin-bottom: 20px; color: var(--text-color); }
.case-study-content .Requirements { margin-bottom: 10px; color: var(--text-color); }
.case-study-content .button { display: inline-block; margin-top: 20px; }

/* end case study */


/* Prices section css start */
.price-section .price-box{ width: 100%; position: relative; background-color: var(--common-white-color); padding: 14px 11px 11px;border: 1px solid #E0E0E0; transition: all 0.3s linear; overflow: hidden;}
.price-section .price-box::before{ content: ""; background-color: var(--primary-color); position: absolute; top: 0; left: -30px; width: calc(100% + 60px); height: 60px; z-index: 1; border-radius: 0 0 50% 50%; box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05); transition: all 0.3s linear;}
.price-section .price-box:hover::before{ height: 150px;border-radius: 0 0 40% 40%;}
.price-section .price-box .price-box-heading{ width: 100%; text-align: center; color: var(--common-white-color);z-index: 2;position: relative;}
.price-section .price-box .price-content-main{ width: 100%; text-align: center; background-color: #F7F7F7; padding: 0 25px 25px; margin-top: 54px; position: relative; z-index: 2; text-align: center; transition: all 0.3s linear;}
.price-section .price-box:hover .price-content-main{ background-color: #E8DCFF;}
.price-section .price-box .price-content-main::before{ content: ""; width: 100%; background-image: url(../images/price-section-bg.png); background-repeat: no-repeat; height: 100%; position: absolute; top: 0; right: 0;z-index: -1;}
.price-section .price-box .price-content-main .price-icon{ width: 70px; height: 70px; border-radius: 50%; background-color: var(--common-white-color); box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);display: flex;justify-content: center;align-items: center; margin: 0 auto 3px;position: relative;top: -35px;}
.price-section .price-box .price-content-main .price-icon img{ width: 45px; height: 45px; object-fit: contain;}
.price-section .price-box .price-content-main .price-time-main{ width: 100%; display: inline-block; margin: 0 0 20px 0; padding: 0 0 20px 0; border-bottom: 1px solid var(--Secoundry-color);}
.price-section .price-box .price-content-main .price-time-main:last-child{ border: none; margin-bottom: 0; padding-bottom: 0;}
.price-section .price-box .price-content-main .price-time-main .price-time-title{ margin-bottom: 10px; color: var(--text-color);}
.price-section .price-box .price-content-main .price-time-main .price-social-icon{ list-style: none; margin: 0; padding: 0; display: flex; justify-content: center;}
.price-section .price-box .price-content-main .price-time-main .price-social-icon li{ padding: 0 5px; margin-bottom: 0;}
.price-section .price-box .price-content-main .price-time-main .price-social-icon li a{ width: 35px; height: 35px; border-radius: 50%;box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); background-color: var(--primary-color); transition: all 0.3s linear; display: flex;justify-content: center;align-items: center;}
.price-section .price-box .price-content-main .price-time-main .price-social-icon li a:hover{ background-color: var(--Secoundry-color);}

@media only screen and (max-width:767px) {
    .price-section .price-box .price-content-main{ margin-top: 65px;}
}
/* Prices section css end */
